:root {
   --main-blue: #391c81;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
   border: 0;
   font-family: 'Roboto', sans-serif;
}

body {
   height: 100vh;
   background-color: var(--main-blue);
   display: flex;
   align-items: center;
   justify-content: center;

}

.container {
   background-color: #fff;
   width: 500px;
   height: auto;
   padding: 28px 32px;
   overflow: hidden;
   border-radius: 18px;
   transition: 0.6s ease-out;
}

.search-box {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: var(--main-blue);
}


.search-box input {
   width: 80%;
   font-size: 24px;
   font-weight: 400;
   text-transform: uppercase;
   margin-left: 40px;
}

.search-box input::placeholder {
   color: var(--main-blue);
   font-weight: 400;
   font-size: 20px;
   text-transform: capitalize;
}

.search-box button {
   cursor: pointer;
   min-width: 50px;
   height: 50px;
   background-color: #dff6ff;
   border-radius: 50%;
   font-size: 22px;
   color: var(--main-blue);
   transition: 0.3s ease-out;
}

.search-box button:hover {
   color: #fff;
   background-color: var(--main-blue);
}

.fa-location-dot {
   position: absolute;
   font-size: 30px;
}

.weather {
   margin-top: 30px;
   text-align: center;
   display: none;
}


.weather h1 {
   font-size: 80px;
   font-weight: 700;
}

.weather h2 {
   font-size: 55px;
   font-weight: 500;
   margin-top: 20px;
}

.details {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.details i {
   font-size: 60px;
   padding-bottom: 14px;
}

.details p {
   font-size: 25px;
}

.weather-image {
   font-size: 120px;
}

.error {
   color: red;
   text-align: left;
   margin-top: 20px;
   display: none;
   font-size: 25px;
   text-transform: uppercase;
}